html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

button {
    padding-top: 15px;
    padding-bottom: 15px;
}

.inputs {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.inputs > div {
    border: 1px solid black;
    padding: 2px;
    background-color: gray;
}

.debug {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 0;
}

    .debug > textarea {
        margin: 0;
    }
